

<nav class="navbar navbar-fixed-top ">
  <div class='navbar-pearl container'>
    <a href="/">
      <%= image_tag("pearl_bits_logo.png") %>
    </a>

    <ul class='navbar-nav nav pull-right'>

      <li class="butomn">
         <%= welcome_user %>
         </li>
         <li>
        <%= user_dashboard %>
      </li>
      <li>
        <%= login_or_logout %>
      </li>
    </ul>

    </div>
</nav>

<!--

	<nav class="navbar navbar-fixed-top">
		<div class="container relative">
			<div class="navbar-header">

			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<%= link_to "", root_path, class:"navbar-brand" %>

				</ul>
                <ul class="navbar-right">
                <li>                <span class="welcome"><%= welcome_user %></span></li>
                <li>

                <%= user_dashboard %>
                <%= login_or_logout %>
                </li>
				</ul>
			</div>
		</div>
	</nav>

 -->