<section id="Features">
  <div class="container">
    <div class="title-section">
      <h4><strong>Features</strong></h4>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="pricing-header">
        </div>
        <div class="pricing-table primary">
          <div class="pricing-title">
            <h5>Popular Links</h5>

          </div>
          <div class="pricing-list">
            <ul>
              <% @popular_links.each do |link| %>
              <li><%= link_to "#{request.protocol}#{request.host_with_port}/#{link['short_url']}", "/#{link.short_url}", :target => "_blank" %> &nbsp; &nbsp;<br> <span class="badge"> <%= link.visits %> hit(s) </span></li> </li></br>
              <% end %>


            </ul>
          </div>
          <div class="pricing-footer">
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="pricing-header">
        </div>
        <div class="pricing-table primary">
          <div class="pricing-title color-box-second">
            <h5>Recent Links</h5>
          </div>
          <div class="pricing-list ">
            <ul>
              <% flash[:anoymus_links].each do |link| %>
              <li><%= link_to  "#{request.protocol}#{request.host_with_port}/#{link['short_url']}", "/#{link.short_url}", :target => "_blank" %> &nbsp; &nbsp; <br> <span class="badge"> <%= link.visits %> hit(s) </span></li></br>

              <% end %>


            </ul>

          </div>
          <div class="pricing-footer">
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="pricing-header">
        </div>
        <div class="pricing-table secondary">
          <div class="pricing-title color-box-third">
            <h5>Top PearlBiters</h5>
          </div>
          <div class="pricing-list">
            <ul>
              <% @top_users.each do |user| %>
              <li><%= user.name %> </li>
              <% end %>
            </ul>
          </div>
          <div class="pricing-footer">
          </div>
        </div>
      </div>
    </div>
  </section>
