<section class="firstintro bg-testimonial">
  <div class="overlay"></div>
  <div class="container"></div>
  <div class="title-section small">
    <h4>Join PearlBits</h4>
    <p>leading link shortener built with rails....</p>
  </div>
  <div class="container">
    <div class="col-lg-8 col-lg-offset-2">
      <%= form_for(:link, url: new_link_path) do |f| %>
      <div class="input-group">
        <%= f.text_field :actual_url,  pattern: "(https?:\/\/)?([a-Z0-9\-]+\.[a-Z]{2,3})", class: "validate", placeholder: "e.g bitly.com" ,class:"form-control", required: true, data: { success: "ok", error: "Invalid" }  %>
        <span class="input-group-btn">
          <%= f.hidden_field :vanity, value: "", placeholder: "e.g bitly.com" ,class:"form-control input-lg" %>
          <% if @current_user %> <%= f.hidden_field :user_id, value: @current_user.id, class:"my-input"   %> <% end %>
          <%= f.submit 'PearlBit!' ,class: "btn btn-primary btn-md", id: "make-link"%>
        </span>
      </div>
    </div>
  </div>
  <%= show_url_message %>
  <% end %>
</section>
<%= render partial: 'pearlbits_cards' %>
